.Main {
  text-align: center;
}

.Main-header {
  background-color: #09bb67;
  height: 60px;
  padding: 10px;
  color: white;
}

.Main-intro {
  font-size: large;
}

.Main-logo {
  height: 100%;
  width: auto;
}

.map-modal {
  position: relative;
  width: 85%;
  height: 85%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: white;
  padding: 10px;
}

.map-modal div {
  margin: 10px 0px;
}
.map-modal div span.title {
  font-size: 14pt;
  font-weight: 900;
}

.map-modal .select-icon-marker button {
  width: 60px;
  height: 60px;
  background-color: white;
  margin: 0px 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.map-modal .select-icon-marker button.active {
  background-color: green;
}

.map-modal .btn {
  margin: 0px 5px;
}

/**
  * windowInfo Style
  **/
.marker-info h2 {
  font-size: 15pt;
  font-weight: 900;
}

.marker-info span {
  font-size: 11pt;
}
/* end windowInfo Style */

@media screen
and (min-width : 1171px) {
  .Main-header {
    height: 110px;
  }

  .Main-container {
    width: 1170px;
    margin: 0 auto;
  }
}
