.Main {
  text-align: center;
}

.Main-header {
  background-color: #014826;
  height: 60px;
  padding: 10px;
  color: white;
}

.Main-intro {
  font-size: large;
}

@media screen
and (min-width : 1171px) {
  .Main-container {
    width: 1170px;
    margin: 0 auto;
  }
}
